<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>
<!------------------------------->
<!-- Navbar for the show files -->
<!------------------------------->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/cocktails">
    <img src="https://images.getbento.com/NnEw11DrQhiUEb0eIogI_thr-new-logo-w-1.png" />
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<!------------------------------->
<!-- BODY------------------------>
<!------------------------------->
<div class="container" style="min-height: 70vh">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12 mx-auto">
      <h2 class="h2-new"><%= @cocktail.name %></h2>
      <p><%= @cocktail.description %></p>
      <div class="cards">
        <% @cocktail.doses.each do |dose| %>
          <div class="card">
            <p><%= dose.description %> - <%= dose.ingredient.name %></p>
            <%= link_to 'Destroy', dose_path(dose.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add Ingredients
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <%= simple_form_for([@cocktail, @dose]) do |f| %>
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add ingredients</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <%= f.input :description %>
                  <%= f.association :ingredient %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- Footer for the show file -->
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>



